.card_item{
    background-image: url('../../../public/img_app/fondo_img.jpeg');
    .item_cont1 {
        .card_item_title {}
        .card_item_text {}
    }
    .item_cont2 {
        .cont2_img {
            width: 100px ;
            height: 100px ;
        }
    }
}