.menuCard {
    .menuCard_img {
        width: 30px;
        height: 30px;
    }
    .menuCard_text {}
}

.menuContPrin {
    .menuCont1 {
        .menuCont1_btn {
            .menuCont1_img {
                width: 30px;
                height: 30px;
            }
        }
        .menuCont1_title {}
    }
    .menuCont2 {}
}